{{ define "main" }}

<h1>{{ .Title }}</h1>
<ul>
{{ range .Pages.ByPublishDate.Reverse }}
<li>
  {{ partial "date.html" . }}
  <a href="{{ .RelPermalink }}">{{ .Title }}</a>
</li>
{{ end }}
</ul>

{{ end }}
