<div id="nav-border" class="container">
	<nav id="nav" class="nav sidebar">
		{{ partial "navitems.html" . }}
	</nav>

	<nav id="topnav" class="nav">
		<label for="show-menu" class="menu-button">
			<div class="nav-switch">
				{{ print "/assets/icons/nav.svg" | readFile | safeHTML }}
			</div>
		</label>
		<input type="checkbox" id="show-menu" class="checkbox-menu" role="button">
		<div class="topnav-menu">
			{{ partial "navitems.html" . }}
		</div>
	</nav>
</div>
