<div id="nav-items">
	{{ range .Site.Menus.main }}
	{{ $icon := printf "/assets/icons/%s.svg" .Pre | readFile | safeHTML }}
	{{ $text := print .Name | safeHTML }}
	<a class="nav-link" href="{{ .URL }}"{{ if eq .Params.external "true" }} target="_blank" rel="noopener noreferrer" {{ end }}><span class="nav-icon">{{ $icon }}</span><span class="nav-text">{{ $text }}</span></a>
	{{ end }}
</div>
